.jumbotron {
  min-height: 3000;
  padding-top: 4rem;
  background-color: #5000ca;
}

#Projects {
  background-color: #5000ca;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#Gallery .row > * {
  padding: 0;
}
